@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --YellowMain: #daa727;
  --GrayMain: #e7e7ea;
  --BlueDark: #212838;
}

body{
  scroll-behavior: smooth;
}

/* LOADER */
/* From Uiverse.io by 00Kubi */
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #FFD700;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #FFD700;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 50%;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
  100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}

hr{
  border: 1px solid;
  margin-top: 10px;
}

.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 300px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
  background-color: var(--BlueDark);
  height: 100%;
  display: flex;
}

.searchIcon {
  width: 18px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.micIcon {
  width: 12px;
}

.micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.searchIcon path {
  fill: rgb(255, 255, 255);
}

.micIcon path {
  fill: rgb(255, 81, 0);
}

.micButton:hover {
  background-color: rgb(255, 230, 230);
  transition-duration: 0.3s;
}

/* MENU NAVBAR */
.link{
  height: 100%;
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  transition: all 300ms ease;
}
.active{
  background-color: var(--YellowMain);
    color: var(--BlueDark);
    -webkit-box-shadow: 10px 10px 99px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 99px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 99px -9px rgba(0, 0, 0, 0.75);
}

.active, .link:hover{
  background-color: var(--YellowMain);
  color: var(--BlueDark);
  -webkit-box-shadow: 10px 10px 99px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 99px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 99px -9px rgba(0, 0, 0, 0.75);
}

/* PRODUCTOS DEL MES CARROUSEL */

.product {
  display: flex;
  flex-direction: column;
  /* Alinea los elementos verticalmente */
  justify-content: space-between;
  /* Distribuye el contenido uniformemente */
  height: 100%;
  /* Asegura que la card ocupe todo el espacio disponible */
  min-height: 450px;
  /* Ajusta esta altura mínima según tu diseño */
  transition: all 300ms ease;
}

.product:hover{
  transform: scale(1.02);
  cursor: pointer;
}

.image-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}



@media (max-width: 992px) {
  .carousel-slide .product {
    flex: 0 0 33.33%;
    max-width: 32.33%;
  }

  .carousel-slide {
    gap: 8px;
  }
}

@media (max-width: 768px) {
  .carousel-slide .product {
    flex: 0 0 50%;
    max-width: 48%;
  }

  .carousel-slide {
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .carousel-slide .product {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .carousel-slide {
    gap: 0;
    margin-left: 14px;
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  /* Coloca las flechas verticalmente centradas */
  transform: translateY(-50%);
  /* Ajusta la posición vertical */
  z-index: 50;
  /* Asegura que las flechas estén por encima del carrusel */
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo para que las flechas sean visibles */
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.slick-prev {
  left: -50px;
  /* Mueve la flecha izquierda hacia fuera del contenedor */
}

.slick-next {
  right: -50px;
  /* Mueve la flecha derecha hacia fuera del contenedor */
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: white;
  /* Color de las flechas */
}

.slick-prev,
.slick-next {
  color: #333;
  /* O el color que quieras aplicar */
  opacity: 1;
  /* Asegúrate de que las flechas sean completamente visibles */
}

.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  color: #333;
  /* Mantiene el color al hacer hover o al enfocarse */
  opacity: 1;
  /* Evita que se vuelva más opaca o transparente */
}

.slick-prev:before,
.slick-next:before {
  color: #333;
  /* Esto es para el ícono de la flecha */
}

.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  color: #333;
  /* Mantén el color del ícono al hacer hover o focus */
}

/* FIN PRODUCTOS DEL MES CARROUSEL */

/* ZOOM DE PRODUCTO */
.zoom-lens {
  position: absolute;
  width: 80px;
  /* Ajusta el tamaño según tu necesidad */
  height: 80px;
  /* Ajusta el tamaño según tu necesidad */
  border: 1px solid #000;
  /* Un borde para ver la lente */
  opacity: 0.5;
  /* Opción de hacerla un poco transparente */
  background-color: rgba(255, 255, 255, 0.5);
  /* Color de fondo con opacidad */
  pointer-events: none;
  /* Para que no interfiera con el mouse */
}

.zoom-result {
  position: absolute;
  border-radius: 5px;
  width: 300px;
  /* Ajusta el tamaño según tu necesidad */
  height: 300px;
  /* Ajusta el tamaño según tu necesidad */
  top: 0;
  left: 85%;
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  /* Ajusta el tamaño según tu necesidad */
  z-index: 100;
  display: none;
  /* Oculta la vista de zoom por defecto */
}

/* CATEGORIAS DE PRODUCTOS */


.sidebar {
  width: 300px;
  background-color: #f8f9fa;
  padding: 1rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar li.selected {
  background-color: #ffc107;
  font-weight: bold;
}

.sidebar li.open {
  font-weight: bold;
}

.submenu {
  padding-left: 20px;
}

.submenu li {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9em;
}

.submenu li:hover {
  background-color: #e9ecef;
}

.main-content {
  flex-grow: 1;
  padding: 1rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

button {
  padding: 10px 20px;
  background-color: #6c757d;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

.product_category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 330px;
  transition: all 300ms ease;
}

.cardVision {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.cardVision:hover {
  transform: scale(1.05);
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  filter: brightness(0.7);
}

.background-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
}

.contentAboutUs {
  position: relative;
  z-index: 2;
  color: white;
  padding: 20px;
  text-align: center;
}

@media (max-width: 640px) {
  .contentAboutUs {
    max-width: 80%;
  }
}

@media (max-width: 635px) {
  .cardVision {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 510px) {
  .cardVision {
    width: 60%;
  }
}

@media (max-width: 380px) {
  .cardVision {
    width: 50%;
  }
}

/* From Uiverse.io by ahmedyasserdev */
.unique-card {
  position: relative;
  width: 500px;
  height: 250px;
  overflow: hidden;
  border: 2px solid;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.unique-card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border: 0;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
  z-index: 2;
  transition: color 0.3s;
}

.unique-card:hover .card-content {
  color: #ff7e5f;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.7);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s;
}

.unique-card:hover .background-overlay {
  opacity: 1;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
}
.faq-section {
  max-width: 800px;
  margin: 0 auto;
}

.faq-container {
  margin-top: 1rem;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  cursor: pointer;
}

.faq-question {
  font-size: 1.1rem;
  font-weight: bold;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-answer.open {
  max-height: 300px;
  /* Ajusta según la altura aproximada de la respuesta más larga */
}

.faq-answer p {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #333;
}

.imageContact{
  mask-image: linear-gradient(
    rgb(255, 255, 255) 90%,
    transparent
  );
}

.mapa {
  width: 600px;
  height: 450px;
}

@media (max-width: 660px) {
  .mapa {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 450px) {
  .mapa {
    width: 340px;
    height: 300px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: white;
  z-index: 20;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-btn:hover{
  background-color: red;
}